Source/[Bb]uild*/
Source/[Bb]inary/
Source/bin/
Source/obj/
Source/GeneratedFiles/
Source/*.ini
Source/*.ipch
Source/*.opensdf
Source/*.sdf
Source/*.suo
Source/*.vcxproj.user
Source/*.obj
Source/*.tlog
Source/*.VC.opendb
Source/*.VC.db
Source/*.colo
Source/*.xd
Source/.vs/
Source/.vscode/
/.vs
