Source/[Bb]uild*/
Source/[Bb]inary/
Source/bin/
Source/obj/
Source/*.ini
Source/*.ipch
Source/*.opensdf
Source/*.sdf
Source/*.suo
Source/*.obj
Source/*.tlog
Source/*.VC.opendb
Source/*.VC.db
Source/*.precalc
Source/.vs/
Source/.vscode/
Source/x64/
Source/x64/
/.vs
